body {background-color:rgb(11, 1, 29);}

/* TABLAS */
table {
	margin: 0 auto;
	background-color:cornflowerblue;
	text-align: center;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th {background-color:darkcyan;}

.boton {
	width: 25px;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #9d8af0 5%, #7715f7 100%);
	background-color:#5716ac;
	border-radius:6px;
	border:2px solid #4d4c9c;
	display:inline-block;
	/*cursor:pointer;*/
	color:#030424;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aa99d3;
}
.boton:hover {
	background:linear-gradient(to bottom, #afa8ee 5%, #9773e9 100%);
	background-color:#5cb811;
}
.boton:active {
	position:relative;
	top:1px;
}

.boton_th {
	width: 20px;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #65ad29 5%, #2c5a07 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:2px solid #268a16;
	display:inline-block;
	/*cursor:pointer;*/
	color:#102003;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #91ca60;
}
.boton_th:hover {
	background:linear-gradient(to bottom, #7dc542 5%, #3c7012 100%);
	background-color:#5cb811;
}
.boton_th:active {
	position:relative;
	top:1px;
}